@model IEnumerable<Product>
@{
    ViewData["Title"] = Context.Request.Query["aranacakKelime"]+" Ürünleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">@ViewData["Title"]</h1>
            <p class="lead fw-normal text-white-5 mb-0">@Context.Request.Query["aranacakKelime"] ürünlerinde kaliteyi uygun fiyata burada bulabilirsiniz</p>
        </div>
    </div>
</header>

<section class="pb-1">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <partial name="_PartialProducts" />
        </div>
    </div>
</section>

