<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiparisYonetimi.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiparisYonetimi.WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SiparisYonetimi.WebUI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @await Component.InvokeAsync("Categories")

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">İletişim</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Brands" asp-action="BrandList">Markalar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categories" asp-action="CategoryList">Kategoriler</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Contacts" asp-action="ContactList">Hakkımızda Listesi</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Customers" asp-action="CustomerList">Müşteriler Listesi</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="ProductList">Ürünler Listesi</a>
                        </li>
                    </ul>
                </div>

                @* arama yapma bölümü *@
                <div class="col-md-3">
                    <form asp-controller="Products" asp-action="Search" method="get" class="input-group">
                        <input type="text" name="aranacakKelime" class="form-control" placeholder="ara yapın" aria-label="ara.." aria-describedby="btnNavbarSearch" />
                        
                        <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="bi bi-search"></i>Ara</button>
                    </form>
                </div>


                @*<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login"><i class="bi bi-person"></i>Üye Girişi</a>

                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="SigIn"><i class="bi bi-person"></i>Kayıt Ol</a>*@

                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Sepet
                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                    </button>
                </form>

                <div class="text-end">
                    @if (Context.Session.GetInt32("userId") == null)
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary me-2">Giriş</a>
                        <a asp-controller="Account" asp-action="SigIn" class="btn btn-primary">Kayıt</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Index" class="btn btn-primary">Hesabım</a>
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Oturumu Kapat</a>
                    }
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        @Html.Raw(TempData["Message"])

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.ToShortDateString() - Sipariş Yönetimi Web Uygulaması - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
