
@{
    ViewData["Title"] = "Erişim Engellendi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h3 class="bg-danger text-white p-5">
    Bu alana erişim yetkiniz bulunmamaktadır
</h3>