@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}

@section Scripts{
    <script>
        $(".carousel-item:first").addClass("active")
    </script>
}

<partial name="_PartialSlider" model="Model.Slides" />

<header class="bg-dark py-3 mt-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Ürünlerimiz</h1>
            <p class="lead fw-normal text-white-50 mb-0">Sizin için seçtiklerimiz</p>
        </div>
    </div>
</header>


<partial name="_PartialProducts" model="Model.Products" />

<header class="bg-dark py-3 my-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h2 class="dispşay-4 fw-bolder">Markalar</h2>
            <p class="lead fw-normal text-white-50 mb-0">En İyi Markalar Burada</p>
        </div>
        <div class="row text-center">
            @foreach (var item in Model.Brands)
            {
                <div class="col-md-2">
                    <a href="/Brands/Index/@item.Id">
                        <img src="/Img/@item.Logo" alt="" class="img-thumbnail" />
                    </a>
                </div>
            }

        </div>
    </div>
</header>

<div class="row">
    @foreach (var item in Model.Brands)
    {
        <div class="col">
            <a href="/@item.Name.ToLower()/Brands/Index/@item.Id">
                <img src="/Img/@item.Logo" alt="@item.Name" title="@item.Name" height="60" />
            </a>
        </div>

    }
</div>
